* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1 {
	color: yellow;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

[required] {
	border: 2px solid navy;
	width: 90%;
}

/*adjacent sibling selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector*/
#bootcamp-learning-list li {
	color: #cc3f59;
}

h2 ~ a {
	text-decoration: none;
}

body > section > form > label {
	color: goldenrod;
}

body {
	background-color: ghostwhite;
}

section {
	height: 100vh;
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: black;
}

div {
	display: inline;
	float: right;
}

a:hover {
	background-color: goldenrod;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: seagreen;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.5%;
}

button {
	background-color: greenyellow;
	color: white;
	border: 0;
	border-radius: 15px;
}

