/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


nav .nav-logo, nav .right-nav .nav {
    list-style-type: none;
    display: inline;
}

nav .right-nav {
    float: right;
}

nav {
    position: sticky;
    top: 10px;
    border-bottom: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    padding: 0.8rem 10%;
}

nav .nav {
    margin-right: 30px;
}

.tuitt-button {
    background-color: #c2195b;
    padding: 5px 10px;
    border-radius: 60px;
    border-style: none;
    color: white;
}


/*landing page*/

#bg-image .front-bg{
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    min-height: 55vh;
    background-position: center;
    background-size: 100%;

}

#bg-image .front-bg .container {
    padding: 2rem 4rem 10%;
    text-align: right;
    width: 50%;
    float: right;

}

#bg-image {
     margin-bottom: 50px;
}

#bg-image .front-bg .container .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

#bg-image .front-bg .container h2 {
    color: white;
    width: 75%;
    float: right;
    display: inline-block;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: 200;
}

.apply-button {
    background-color: #c2195b;
    padding: 5px 20px;
    border-radius: 60px;
    border-style: none;
    color: white;
    position: absolute;
    right: 55px;
    top: 300px;
}


/*intro section*/

.intro, .pre-footer {
    text-align: center;
    padding: 2rem 4rem 10%;

}

.title-2 {
    margin-bottom: 20px;
}

.intro-description, .prefooter-description {
    text-align: justify;
    padding: 3% 15%;
}

.book-button {
    background-color: deepskyblue;
    padding: 5px 20px;
    border-radius: 60px;
    border-style: none;
    color: white;s
}

footer {
      width: 100%;
      text-align: center;
}