/*ans for number 5*/
#third-line {
	color: #1b39cf;
}

/*ans for number 6*/
* {
	font-family: "Roboto";
	font-size: 16px;
}

/*ans for number 7*/
h1 {
	font-size: 30px;
}

/*ans for number 8*/
h2 {
	text-transform: uppercase;
}

/*ans for number 9*/
.languages {
	background-color: #84e67a;
}

/*ans for number 10*/
[class|="tool"] {
	border: 2px solid green;
}

/*ans for number 11*/
img + ol  {
	list-style-type: none;
}

/*ans for number 12*/
#frameworks img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/*ans for number 13*/
section ~ .last-part {
	text-align: center;
}

/*ans for number 14*/
main > #frameworks > ol > .other_framework {
	letter-spacing: 5px;
}